{% extends "BlogApp/padre.html" %}

{% load static %}

{% block ContenidoPrincipal %}

    <header class="masthead" style="background-image: url('{%static 'BlogApp/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Editar Blog</h1>
                        <span class="subheading">Las obras maestras tambien se corrigen...</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

         <!-- Main Content-->
         <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if form.errors %}
                    <p style="color: red;">{{ form.errors }}</p>
                    {% endif %}


                    <form action="" method="POST">
                    {% csrf_token %}

                    <table>
                        {{ form.as_table }}
                    </table>

                    <input type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>

{% endblock %}

{% block Titulo %}
    Editar Blog
{% endblock %}


