{% extends "BlogApp/padre.html" %}

{% load static %}

{% block ContenidoPrincipal %}

    <header class="masthead" style="background-image: url('{%static 'BlogApp/assets/img/home-bg.jpg' %}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Profile</h1>
                        <span class="subheading">Creo que esta persona sos vos</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

        <div class="row my-3 p-3">
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
        </div>
        {% if profile_form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in user_form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        <div class="form-content">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ bio.avatar }}
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="small mb-1">Username:</label>
                                {{ user_form.username }}
                            <label class="small mb-1">Email:</label>
                                {{ user_form.email }}
                        </div>
                        <label class="small mb-1">Bio:</label> {{ profile_form.biografia }}
                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-dark btn-lg">Guardar Cambios</button>
                <button type="reset" class="btn btn-dark btn-lg">Reset</button>
            </form>
        </div>

{% endblock %}

{% block Titulo %}
    Inicio
{% endblock %}


